.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #a7dfe2; */
    background-image: url(https://images.pexels.com/photos/2258536/pexels-photo-2258536.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .homepage h1 {
    font-size: 24px;
    font-weight: bold;
    color: #6634db;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .homepage .bg-cover {
    background-size: cover;
    background-position: center;
  }
  
  .homepage .go-to-weather-btn {
    background-color: #6634db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .homepage .go-to-weather-btn:hover {
    background-color: #2ecc71;
  }
  