.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #3498db, #2ecc71);
    background-size: cover;
    background-position: 0% 100%;
    transition: background-position 0.5s;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    height: 40px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #2ecc71;
}

.login-or {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-link {
    font-size: 18px;
    font-weight: bold;
    color: #3498db;
    text-decoration: none;
}

.login-link:hover {
    color: #2ecc71;
}